.container{
    margin-bottom: 70px;
}
.text{
    text-align: center;
}

.card{
    border: 0px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 20px;
}
#asad{
    height: 100%;
    width: 100%;
} ami eita te git hub er kono kichui kori nai heda ai nh bole push hy nh th knta oit  age thik kori oi tato ager ta panda commerce
sb gula th dite hbe so oita ber koro